extends templates/template

block append config
  -titulo = "Contacto"
  -paginaActual = "contacto"
block main
  h1 Contacto
  p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident adipisci accusamus tempore at cumque assumenda nostrum quae cupiditate quo consequatur repellendus optio voluptatum, animi, vero quis modi incidunt accusantium necessitatibus? Quis est aperiam cumque voluptatum corrupti modi culpa commodi sapiente, sed, dolor ad nobis facilis.
  p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident adipisci accusamus tempore at cumque assumenda nostrum quae cupiditate quo consequatur repellendus optio voluptatum, animi, vero quis modi incidunt accusantium necessitatibus? Quis est aperiam cumque voluptatum corrupti modi culpa commodi sapiente, sed, dolor ad nobis facilis.

block aside
  h2 Siguinos en facebook
  a(href="https://facebok.com") seguir